<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/home/login.js" defer></script>
    <!--app.use(익스프레스로 사용)-->
    <!-- defer 사용 -->
<style>

</style>
</head>
<body>
    <input id="input_ID" type="text" placeholder="ID"><br>
    <input id="input_PW" type="text" placeholder="PW"><br>
    <button id="button_login">로그인버튼</button>
    <a href="/register">회원가입</a>
</body>
<script>

</script>
</html>
