<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="/js/home/register.js" defer></script>
</head>
<body>
    <input id="re_ID" type="text" placeholder="아이디"><Br>
    <input id="re_name" type="text" placeholder="이름"><Br>
    <input id="re_PW" type="text" placeholder="비번"><br>
    <input id="re_PW1" type="text" placeholder="비번1"><Br>
    <button id="re_reg">회원가입제출</button>
    <a href="/login">로그인하러가기</a>
</body>
</html>